
<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block main_block %}
  <div class="content-wrapper">
    <div class="container-fluid">
       <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
      </ol>

      <a href="/adminBlog/user_add"> <button type="button" class="btn btn-primary" >Add New User</button></a>

      <br><br>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Users Data</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

              <thead>
                <tr>
		  <th>id</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>is_active</th>
                  <th>is_staff</th>
                  <th span="3">Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>id</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>is_active</th>
                  <th>is_staff</th>
                  <th span="3">Actions</th>
                </tr>
              </tfoot>
              <tbody>
              {% for usr in all_users %}
                <tr>
                    {% if usr.is_staff == True %}
			<td style="bachground:red" ><font color="red">{{usr.id}}</font></td>
                        <td><font color="red">{{usr.username}}</font></td>
                        <td><font color="red">{{usr.email}}</font></td>
                        <td><font color="red">{{usr.is_active}}</font></td>
                        <td><font color="red">{{usr.is_staff}}</font></td>
                    {% else %}
			<td>{{usr.id}}</td>
                        <td>{{usr.username}}</td>
                        <td>{{usr.email}}</td>
                        <td>{{usr.is_active}}</td>
                        <td>{{usr.is_staff}}</td>
                        <td>
                          <a href="/adminBlog/user_delete/{{usr.id}}"><button type="button" class="btn btn-danger"> Delete </button></a>
			</td>
			<td>
                          <a href='/adminBlog/user_edit/{{usr.id}}'><button type="button" class="btn btn-secondary"> Edit </button></a>
			</td>
			<td>

                          {% if usr.is_active == 1 %}
                            <a href="/block/{{usr.id}}"><button type="button" class="btn btn-danger"> Block </button></a>
			</td>
                            <a href="/promote/{{usr.id}}"><button type="button" class="btn btn-success"> Promote </button></a>

                        {% else %}
                            <a href="/unblock/{{usr.id}}"><button type="button" class="btn btn-primary"> Unblock </button></a>
                        </td>
                        {% endif %}
                    {% endif %}
                </tr>
              {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
 {% endblock %}
</html>
